<h1>Продукция</h1>

<% @sections.each do |section| %>

<nav class="product_show">  <!-- Начало вывовда секций, категоирй, продуктов -->
	
  <!-- Начало вывовда секций -->
  <nav> 
	  
	<p> <br /><%= link_to section.name, section, class: "section_name" %> </p>
  
  	<% if current_user %>  <!-- Начало вывовда действий над секциями -->
		<div class="actions">
			<%= link_to 'Добавить категорию', new_section_category_path(section) %> |
			<%= link_to 'Изменить', edit_section_path(section) %> |
			<%= link_to 'Удалить', section, method: :delete, data: { confirm: 'Are you sure?' } %>
		</div>
	<% end %>
	
	<!-- Конец вывовда действий над секциями -->
		
		
	<!-- Начало вывовда категорий -->
		
		<% section.categories.each do |category| %>
		<nav>
			<li> -- <%= link_to category.name, section_category_path(section, category), class: "product_name" %><li>
				
			  	<% if current_user %>
				  	<div class="actions">
						<%= link_to 'Добавить продукт', new_section_category_product_path(section, category) %> |
						<%= link_to 'Изменить', edit_section_category_path(section, category) %> |
						<%= link_to 'Удалить',[section, category], method: :delete, data: { confirm: 'Are you sure?' } %>
					</div>
		<% end %>
				
		<!-- Начало вывовда продуктов -->
			<% category.products.each do |product| %>
			<nav>
				<li> --- <%= link_to product.name, section_category_product_path(section, category, product) %><li>

			  	<% if current_user %>
				  	<div class="actions">
						<%= link_to 'Изменить', edit_section_category_product_path(section, category, product) %> |
						<%= link_to 'Удалить',[section, category, product], method: :delete, data: { confirm: 'Are you sure?' } %>
					</div>
				<% end %>
			</nav>
			<% end %>
		<!-- Конец вывовда продуктов -->
				
		</nav>
	<% end %>
	
	<!-- Конец вывовда категорий -->
	
	</nav>
	<!-- Конец вывовда секций -->

</nav><!-- Конец вывовда секций, категоирй, продуктов -->
	
<% end %>


<% if current_user %>
	<%= link_to 'Создать секцию', new_section_path, class: "actions clear do" %>
<% end %>