<ul>
	<%= nav_link 'О компании', root_path %>
	<%= nav_link 'Услуги', services_path %>
	<%= nav_link 'Технологии', tech_path %>
	<%= nav_link 'Продукция', sections_path %>
	<%= nav_link 'Сертификаты', certifications_path %>
	<li><%= link_to 'Цены', "/doc/pr.doc" %></li>
	<% if current_user %>
		<%= nav_link 'Админка', admin_path %> | 
		<%= link_to "Выйти", session_path("carrent"), method: :delete %>
	<% end %>
</ul>