<% page_title "Добро пожаловать" %>

<%= stylesheet_link_tag "pages_home", media:'all' %>
			
<div class="PromoGallery">
	<nav>
		<%= link_to '- Большие объекты', bigobject_path %>
		<%= link_to '- Коттеджи', cottages_path %>
	</nav>
</div>

	<div class="contant">
		
		<%= render items, items: false  %>
		
		<%= render items_for_all, items_for_all: false %>
		
	</div>
			

      

