<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @gallery.name %>
</p>
<b>Изображения:</b>
<% @gallery.images.each do |image| %>
<p>
  <%= link_to image_tag(image.data.thumb.url), image.data.url, class: "fb" %>
  <% if current_user %>
  	<%= link_to "Удалить", [@gallery, image], method: :delete %>
  <% end %>
</p>


<% end %>

<% if User.count > 0 %>
<% if current_user %>

<%= link_to 'Edit', edit_gallery_path(@gallery) %> |
<%= link_to 'Back', galleries_path %>

	<%= form_for [@gallery, @gallery.images.build], :html => {multipart: true}  do |f| %>
	    <div class="field">
	      <%= f.label :data %><br />
		  
	      <%= f.file_field :data %>
	    </div>
	    <div class="actions">
	      <%= f.submit('Загрузить') %>
	    </div>
	
		
	<% end %>
	
<% end %>

<% end %>

