<% page_title @gallery.name %>

<p id="notice"><%= notice %></p>

<% if current_user %>
<div class="actions">
	<%= link_to 'Edit', edit_gallery_path(@gallery) %> |
	<%= link_to 'Back', galleries_path %>
</div>
<% end %>

<div class="contant in_contant">
  <h1><%= @gallery.name %></h1>
	
	<% @gallery.images.each do |image| %>
		<article>
		  <%= link_to image_tag(image.data.thumb.url), image.data.url, class: "fb", rel: "g"%>
		  
			  <% if current_user %>
				  <div class="actions">
				  	<%= link_to "Удалить", [@gallery, image], method: :delete %>
				  </div>
		  	  <% end %>
		</article>
	<% end %>
	
	
	<div class="clear"></div>
	<p class="mark">*При открытом изображении можно воспользоваться стрелками на клавиатуре </p>

</div>

<% if User.count > 0 %>
<% if current_user %>

<div class="actions">
	
	<%= form_for [@gallery, @gallery.images.build], :html => {multipart: true}  do |f| %>
	    <div class="field">
	      <%= f.file_field :data %>
	    </div>
	    <div class="actions">
	      <%= f.submit('Загрузить') %>
	    </div>
	<% end %>
	
</div>
	
<% end %>

<% end %>

