<h1>Listing categories</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @categories.each do |category| %>
  <tr>
    <td><%= category.name %></td>
    <td><%= link_to 'Show', [@section, category] %></td>
    <td><%= link_to 'Edit', edit_section_category_path(@section, category) %></td>
    <td><%= link_to 'Destroy', [@section, category], method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Category', new_section_category_path %>
