<%= form_for([@section, @category, @product]) do |f| %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  
        <div class="field">
	      <%= f.label :image %><br />
		  
	      <%= f.file_field :image %>
	    </div>
  
  <div class="field">
    <%= f.label :desc %><br />
    <%= f.text_area :desc %>
  </div>
  <div class="field">
    <%= f.label :advantages %><br />
    <%= f.text_area :advantages %>
  </div>
  <div class="field">
    <%= f.label :colors %><br />
    <%= f.text_field :colors %>
  </div>
  <div class="field">
    <%= f.label :packing %><br />
    <%= f.text_field :packing %>
  </div>
  <div class="field">
    <%= f.label :expense %><br />
    <%= f.text_area :expense %>
  </div>
  <div class="field">
    <%= f.label :dilution %><br />
    <%= f.text_field :dilution %>
  </div>
  <div class="field">
    <%= f.label :pdf_1 %><br />
    <%= f.text_field :pdf_1 %>
  </div>
  <div class="field">
    <%= f.label :pdf_2 %><br />
    <%= f.text_field :pdf_2 %>
  </div>
  <div class="field">
    <%= f.label :pdf_3 %><br />
    <%= f.text_field :pdf_3 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
