<%= form_for([@section, @category, @product]) do |f| %>

  <div class="field">
    <%= f.label "Название" %><br />
    <%= f.text_field :name %>
  </div>
  
        <div class="field">
	      <%= f.label "Изображение" %><br />
		  
	      <%= f.file_field :image %>
	    </div>
  
  <div class="field">
    <%= f.label "Описание" %><br />
    <%= f.text_area :desc %>
  </div>
  <div class="field">
    <%= f.label "Преимущества" %><br />
    <%= f.text_area :advantages %>
  </div>
  <div class="field">
    <%= f.label "Цвета" %><br />
    <%= f.text_field :colors %>
  </div>
  <div class="field">
    <%= f.label "Упаковка" %><br />
    <%= f.text_field :packing %>
  </div>
  <div class="field">
    <%= f.label "Расход" %><br />
    <%= f.text_area :expense %>
  </div>
  <div class="field">
    <%= f.label "Разбавление" %><br />
    <%= f.text_field :dilution %>
  </div>
  <div class="field">
    <%= f.label "Технические паспорта на продукцию" %><br />
    <%= f.text_field :pdf_1 %>
  </div>
  <div class="field">
    <%= f.label "Свидетельство безопасности" %><br />
    <%= f.text_field :pdf_2 %>
  </div>
  <div class="field">
    <%= f.label "Декларация соответствия" %><br />
    <%= f.text_field :pdf_3 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
