<h1>Listing products</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Desc</th>
    <th>Advantages</th>
    <th>Colors</th>
    <th>Packing</th>
    <th>Expense</th>
    <th>Dilution</th>
    <th>Pdf 1</th>
    <th>Pdf 2</th>
    <th>Pdf 3</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @products.each do |product| %>
  <tr>
    <td><%= product.name %></td>
    <td><%= product.desc %></td>
    <td><%= product.advantages %></td>
    <td><%= product.colors %></td>
    <td><%= product.packing %></td>
    <td><%= product.expense %></td>
    <td><%= product.dilution %></td>
    <td><%= product.pdf_1 %></td>
    <td><%= product.pdf_2 %></td>
    <td><%= product.pdf_3 %></td>
    <td><%= link_to 'Show', section_category_product_path(@section,@category,product) %></td>
    <td><%= link_to 'Edit', edit_section_category_product_path(@section,@category, product) %></td>
    <td><%= link_to 'Destroy', [@section,@category, product], method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Product', new_section_category_product_path(@section,@category) %>
