<% page_title @product.name %>

<section class="out">
	
<nav class="breadcrumbs"> 
	<%= link_to 'Все продукты', sections_path %> > <%= link_to @section.name, @section %> > <%= link_to @category.name, [@section, @category], class: "this" %> <br/>
</nav>

<% if current_user %>
	<%= link_to 'Изменить', edit_section_category_product_path(@section,@category,@product) %>
<% end %>

    	<article class="product">
			<% if @product.image? %>
		  		<%= link_to image_tag(@product.image.thumb.url), @product.image.url, class: "fb" %>
			<% end %>
			
			<div class="desc">
				<h1><%= @product.name %></h1>
				<p><%= sanitize(@product.desc) %></p>
			</div>
			
		</article>
	
	
	<p id="notice"><%= sanitize(notice) %></p><br/>
	
</section>

			
	<div class="contant in_contant">
		<%= render items, items_for_all: false, items: true  %>
	</div>
			

      

